#pi {
	display: inline;
}

#kinect {
	display: inline;
}

#eshan {
	display: inline;
}

#gautham {
	display: inline;
}

#jessica {
	display: inline;
}

#joseph {
	display: inline;
}

img {
	padding: 0px 40px 40px 0px;
}